<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
</head>
<body>
<h1>Add Book</h1>
<form th:action="@{/web/save-book}" th:object="${book}" method="post">
    <label> Title
        <input type="text" th:field="*{title}"/>
    </label><br>
    <label>Author ID
        <input type="number" th:field="*{author.id}"/>
    </label>
    <button type="submit">Submit Book</button>
</form>
<div th:insert="~{fragments/footer :: alternate}"></div>

</body>
</html>