<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link th:href="@{/style.css}" rel="stylesheet"></link>
</head>
<body>
<h1>Books</h1>
<!--<p th:text="${books}"></p> -->
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author(s)</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td>
            <p th:text="${book.author.fullName}"></p>
        </td>
        <td><a th:href="@{/web/books/delete/{id}(id=${book.id})}">Delete</a></td>
        <td><a th:href="@{/web/books/update/{id}(id=${book.id})}">Edit</a></td>
    </tr>
    </tbody>

</table>
<div th:insert="~{fragments/footer :: alternate}"></div>

</body>
</html>