<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link th:href="@{/style.css}" rel="stylesheet"></link>
</head>
<body>
<p th:text="${books}"></p>
<table>
    <thead>
    <tr>
        <th>ID<th>
        <th>Books</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td>
            <p th:text="${book.author.fullName}"></p>
        </td>

    </tr>
    </tbody>

</table>
</body>
</html>